* {
    text-align: center;
}

body {
    background-image: url("../images/ocean-background.png");
    background-size: 100%;
    z-index: 1;
}

h1 {
    font-family: fantasy, serif;
    font-size: 36px;

    padding: 10px;
    border: 1px solid rgb(5, 76, 231);
    background-color: rgb(2, 161, 253);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;

}

.hanger {
    visibility: hidden;
}

#current-word {
    letter-spacing: 0.2em;
}

h4 {
    height: 20px;
    margin: 10px;
    font-size: 20px;
    letter-spacing: 1em;
}

.counter {
    float: left;
    margin-left: 20px;
}

#theme {
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 10%;
    letter-spacing: 0.1em;
    font-size: 36px;
    line-height: 1.5em;
}

#gallows {
    height: 250px;
    width: 250px;
    background-image: url("../images/gallows.jpg");
    background-position: 65% 50%;
    background-size: 200%;
    margin: 0 auto;
    justify-items: center;
    z-index: 2;
}

#head {
    height: 50px;
    position: relative;
    left: 7%;
    top: 80px;
    z-index: 6;
}

#his-body {
    height: 50px;
    position: relative;
    left: 8%;
    top: 65px;
    z-index: 3;
}

#right-arm {
    height: 50px;
    position: relative;
    left: 10%;
    top: 70px;
    z-index: 4;
}

#left-arm {
    height: 50px;
    position: relative;
    left: 6%;
    top: 70px;
    z-index: 4;
}

#right-leg {
    height: 50px;
    position: relative;
    left: 8%;
    top: 65px;
    z-index: 4;
}

#left-leg {
    height: 50px;
    position: relative;
    left: 8%;
    top: 65px;
    z-index: 4;
}

#mobile-text {
    visibility: hidden;
}

#fish1 {
    margin-left: 50px;
    position: fixed;
    animation: fish1 4s infinite alternate;
}

#fish2 {
    margin-left: 600px;
    position: fixed;
    animation: fish2 4s infinite alternate;
}

#fish3 {
    margin-left: 40px;
    position: fixed;
    animation: fish3 4s infinite alternate;
}

@keyframes fish1 {
    0% {left:70%; top:75%;}
    25% {left:80%; top:75%;}
    50% {left:80%; top:85%;}
    75% {left:70%; top:85%;}
    100% {left:70%; top:75%; transform: scaleX(-1);}
}

@keyframes fish2 {
    0% {left:150px; top:200px;}
    15% {left:350px; top:200px;}
    30% {left:550px; top:400px; transform: scaleX(-1);}
    45% {left:350px; top:400px;}
    60% {left:150px; top:300px; transform: scaleX(-1);}
    75% {left:350px; top:200px; transform: scaleX(-1);}
    100% {left:150px; top:200px; transform: scaleX(-1);}
}

@keyframes fish3 {
    0% {left:0%; top:35%;}
    25% {left:0%; top:45%;}
    50% {left:10%; top:35%;}
    75% {left:10%; top:45%; transform: scaleX(-1);}
    100% {left:5%; top:55%; transform: scaleX(-1);}
}

@media screen and (max-width: 768px) {
    body {
        background-size: 250%;
    }

    #gallows {
        margin-top: 30%;
    }

    #fish1 {
        left: -40%;
    }

    #mobile-text {
        visibility: visible;
    }
}